<div class="info-section">
  <div class="info-block">
    <div class="info-image">
      <img src="assets/images/Bild 1@2x.png" alt="Info Image Left" />
    </div>
    <div class="info-text">
      <p class="info-subheading">Ganzheitliche Kundenprofile</p>
      <h2 class="info-heading">Ihre Kundschaft im Panorama</h2>
      <p class="info-paragraph">
        Die Kundenansicht von MeinBüro Web bietet Ihnen umfassende und einfach editierbare Profilseiten, denen Sie alle wichtigen Informationen zu einzelnen Kunden entnehmen können. Aktuelle Informationen sind hierbei immer sofort verfügbar und werden auf sinnvolle Weise ergänzt, sodass Sie stets über neueste Entwicklungen Ihrer Kundschaft auf dem Laufenden bleiben.
      </p>
      <button class="info-button" (click)="addToCart()">Jetzt Testen</button>
    </div>
  </div>

  <div class="info-block reverse-on-mobile">
    <div class="info-text">
      <p class="info-subheading">Ganzheitliche Kundenprofile</p>
      <h2 class="info-heading">Ihre Kundschaft im Panorama</h2>
      <p class="info-paragraph">
        Die Kundenansicht von MeinBüro Web bietet Ihnen umfassende und einfach editierbare Profilseiten, denen Sie alle wichtigen Informationen zu einzelnen Kunden entnehmen können. Aktuelle Informationen sind hierbei immer sofort verfügbar und werden auf sinnvolle Weise ergänzt, sodass Sie stets über neueste Entwicklungen Ihrer Kundschaft auf dem Laufenden bleiben.
      </p>
      <button class="info-button" (click)="addToCart()">Jetzt Testen</button>
    </div>
    <div class="info-image">
      <img src="assets/images/Bild 1@2x.png" alt="Info Image Right" />
    </div>
  </div>
</div>
