<div class="hero-container">
  <div class="hero-content">
    <div class="text-column">
      <img *ngIf="logoSrc" [src]="logoSrc" alt="Logo" class="hero-logo" />
      <h1 class="hero-heading">{{ heading }}</h1>
      <ng-container *ngIf="buttonLabel">
        <button
          *ngIf="buttonClick && !buttonLink"
          class="hero-button" 
          (click)="buttonClick?.()"
        >
          {{ buttonLabel }}
        </button>

        <a
          *ngIf="buttonLink"
          [routerLink]="buttonLink"
          class="hero-button"
          role="button"
        >
          {{ buttonLabel }}
        </a>
      </ng-container>
    </div>
    <div class="image-column">
      <img [src]="imageSrc" alt="Hero" class="hero-image" />
    </div>
  </div>
</div>
