:root {
/* Colors: */
---fa7d19-ci-orange: #FA7D19;
---f20030-error: #F20030;
---049091-gutschrift: #049091;
---63c2cd-marker: #63C2CD;
---ed751b-keycolor: #ED751B;
--unnamed-color-fff7ee: #FFF7EE;
---bbc7d6-border: #BBC7D6;
---bbc7d6-50-divider: #BBC7D680;
---023e84-primary: #023E84;
---03326b-60-secondary: #03326BB3;
---03326b-38-disabled-placeholder: #03326B61;
---f5f7fa-bg-2: #F5F7FA;
---ffffff-bg-1: #FFFFFF;
}
