<div class="cards-container">
<h1 class="cards__h1">Das Beste für Sie zusammengestellt</h1>
<div class="card-row">
  <div class="card">
    <img src="assets/icons/ic-buchhaltung.svg" alt="Icon 1" class="card__icon" />
    <h3 class="card__heading">Buchhaltung leicht gemacht</h3>
    <p class="card__subtext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</p>
  </div>
  <div class="card">
    <img src="assets/icons/ic-upgrade.svg" alt="Icon 2" class="card__icon" />
    <h3 class="card__heading">Upgrade für Ihr Business</h3>
    <p class="card__subtext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</p>
  </div>
  <div class="card">
    <img src="assets/icons/ic-marketing.svg" alt="Icon 3" class="card__icon" />
    <h3 class="card__heading">So geht Marketing</h3>
    <p class="card__subtext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</p>
  </div>
</div>
</div>
