.cards__h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 8px 0;
  font: normal normal bold 20px/26px Roboto;
  letter-spacing: 0.32px;
  color: #023E84;
  padding: 20px 20px 8px 20px;
  text-align: left;
}

.cards-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 400px) {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.card-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 0;
}

.card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 32px 24px;
  width: 360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__icon {
  width: 106px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 16px;
}

.card__heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 8px 0;
  font: normal normal bold 20px/26px Roboto;
  letter-spacing: 0.32px;
  color: #023E84;
}

.card__subtext {
  font-size: 0.95rem;
  margin: 0;
  text-align: center;
  letter-spacing: 0.26px;
  color: #023E84;
  font-family: Roboto, sans-serif;
  opacity: 1;
}


@media (max-width: 960px) {
  .card-row {
    flex-direction: column;
    align-items: center;
  }
}
